spring:
  application:
    name: ad-streams

  kafka:
    bootstrap-servers: localhost:30092
    
    streams:
      application-id: ad-streams-app
      default-key-serde: org.apache.kafka.common.serialization.Serdes$StringSerde
      default-value-serde: org.springframework.kafka.support.serializer.JsonSerde
      
      # 토픽 설정
      topics:
        impressed: ad-impressed
        clicked: ad-clicked
        partner-billing: partner-billing-aggregation
        partner-group-metrics: partner-group-metrics
        display-metrics: display-metrics
        dlq: ad-streams-dlq  # Dead Letter Queue
      
      properties:
        # Processing guarantees
        processing.guarantee: exactly_once_v2
        
        # State store configuration
        state.dir: /tmp/kafka-streams
        
        # Commit interval (milliseconds)
        commit.interval.ms: 1000
        
        # Cache size
        cache.max.bytes.buffering: 10485760
        
        # Replication factor for state stores
        replication.factor: 1
        
        # Number of threads
        num.stream.threads: 1
        
        # Error handling
        default.deserialization.exception.handler: com.study.adstreams.infrastructure.stream.handler.StreamErrorHandler

server:
  port: 8080

logging:
  level:
    root: INFO
    com.study: DEBUG
    org.apache.kafka: INFO
    org.springframework.kafka: INFO
    com.study.adstreams.infrastructure.stream.handler: DEBUG
