spring:
  application:
    name: ad-streams

  kafka:
    bootstrap-servers: localhost:9092
    
    streams:
      application-id: ad-streams-app
      default-key-serde: org.apache.kafka.common.serialization.Serdes$StringSerde
      default-value-serde: org.springframework.kafka.support.serializer.JsonSerde
      input-topic: input-topic
      output-topic: output-topic
      
      properties:
        # Processing guarantees
        processing.guarantee: exactly_once_v2
        
        # State store configuration
        state.dir: /tmp/kafka-streams
        
        # Commit interval (milliseconds)
        commit.interval.ms: 1000
        
        # Cache size
        cache.max.bytes.buffering: 10485760
        
        # Replication factor for state stores
        replication.factor: 1
        
        # Number of threads
        num.stream.threads: 1

server:
  port: 8080

logging:
  level:
    root: INFO
    com.study: DEBUG
    org.apache.kafka: INFO
    org.springframework.kafka: INFO
